:root {
  --main-color: hsla(42, 25%, 42%, 1);
  --main-color-light: hsla(42, 25%, 62%, 1);
  --secondary-color: hsla(212, 20%, 28%, 1);
  --white-color: #fff;

  --font-size-small: 0.875rem; //14px
  --font-size-base: 1rem; //16px
  --font-size-medium: 1.125rem; //18px

  --font-weight-light: 300;
  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --box-shadow-base: -2px 0 5px 0 rgba(57, 70, 85, 0.30);

  --navbar-height: 70px;
}