.general-select-item {

  --transition-time: 200ms;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  padding: 5px 8px;
  transition: background-color var(--transition-time), color var(--transition-time);
  border-radius: 5px;
  font-size: var(--font-size-small);
  cursor: pointer;

  &__img-box {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &:not(&[data-disabled]):hover, &:not(&[data-disabled]):focus {
    background-color: var(--main-color);
    color: var(--white-color);
    outline: none;
  }

  &:hover &__svg-box {
    background-color: var(--white-color);
  }

  &[data-disabled] {
    cursor: default;
    opacity: 0.5;
  }

}